<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ejiayou.station.module">

    <application>
        <activity
            android:name=".EnsdStationDetailActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PayActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".EnsdStationDetailAct2"
            android:exported="true">

        </activity>
        <activity
            android:name=".arouter.TestArouterActivity"
            android:exported="true">

        </activity>

    </application>
</manifest>